body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

#view {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index:-2;
}

#navigator {
	z-index:-1;
	margin: 20px 0 0 20px;
	position: absolute;
}

.title {
	display: inline;
	margin: 0 10px 0 20px;
	font-size: 20px;
}

.subtitle {
	display: inline;
	font-size: 12px;
}

.topBar {
	background: white;
	padding: 10px 0 10px 0;
}

.boxShadow {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
}